body {
  background-color: cornflowerblue;
}
.container {
  background-color: aliceblue;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}
img {
  width: 125px;
  height: 150px;
  border-radius: 75%;
  object-fit: cover;
  
}

.Address,
.Name {
  text-align: right;
  width: 75%;
}
.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.labelSmall{
  margin-left: 100px;
}